@import './open-iconic-bootstrap.min.css';
* {
  /* line-height: 1.75em !important; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, sans-serif !important;
  transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
}
.caps {
  text-transform: capitalize !important;
}

.line {
  text-decoration: underline !important;
}

.center-pager {
  max-width: fit-content !important;
  margin: auto !important;
}

.pagination li {
  padding-right: 5px !important;
}

.no-articles a {
  text-align: center;
  color: gray !important;
}

.vw-100 {
  width: 100% !important;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-height: 100% !important;
}

.drp-dwn-item>a {
  color: #6c757d !important;
}

.drp-dwn-item>a:hover,
.drp-dwn-item>a:focus {
  color: #ffd369 !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.io-font {
  font-family: Icons !important;
}
h1#lh {
  line-height: 1 !important;
}
.alert{
  margin-bottom: 0 !important;
}
.plain:hover, .plain:focus{
  background-color: #f8f9fa;
}
.plain{
  color: #00000066 !important;
  letter-spacing: 1px;
  font-size: 12px;
  border: 0 !important;
  background-color: #f8f9fa;
  outline: none !important;
}
.grd-btn{
  display: flex !important;
  justify-content: space-between;
}
/* .grd-btn:last-child >  {
 display: block !important;
} */
/* 
.hero-wrap .overlay {
  background: -webkit-gradient(linear, left top, right top, from(#0072ff), to(#00d4ff)) !important;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%) !important;
}
  li > a:hover,
  li > a:focus,
  li > a >span:hover,
.navbar-brand i,
.nav-item.active>a,
.logo a span,
.nav-item .active,
.nav-item.active > a,
li.active,
.active > .nav-link,
.ion-ios-arrow-forward:hover {
  color: #68d18f !important;
}
.active span{
  background-color: #68d18f !important;
}

.ftco-footer {
  background-color: #70a4f8 !important;
}

.meta a {
  color: #32325d !important;
  font-weight: bolder;
}
.nav-pills .nav-item .nav-link.active {
  color: #fff!important;
  background-color: #68d18f !important;
  border: 1px solid #68d18f !important;
}   */